.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red-1;
  width: auto;
  font-size: 14px;
  font-weight: 700;
  color: $white;
  letter-spacing: 0.8px;
  border: 0;
  padding: 20px 32px;
  border-radius: 8px;
  cursor: pointer;
  transition: $t-1;

  &:hover {
    background-color: #de1120;
  }
}
