#plan {
  display: flex;

  .container {
    display: flex;

    @media (max-width: 767px) {
      display: block;
    }
  }

  .aside {
    position: relative;
    background-color: $gray-7;
    max-width: 320px;
    width: 100%;
    padding-top: 52px;
    margin-right: 8%;

    @media (max-width: 991px) {
      max-width: 160px;
      margin-right: 5%;
    }

    @media (max-width: 767px) {
      display: none;
    }

    &:before {
      content: '';
      // width: 30%;
      // height: 100vh;
      // position: absolute;
      // left: 0;
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $gray-7;
      z-index: -1;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        margin-bottom: 44px;

        .circle {
          display: inline-block;
          background-color: transparent;
          width: 24px;
          height: 24px;
          line-height: 21px;
          font-size: 12px;
          font-weight: 700;
          color: $gray-4;
          text-align: center;
          border-radius: 50%;
          border: 1px solid $gray-4;
        }

        .text {
          font-size: 16px;
          line-height: 24px;
          color: $gray-3;
          letter-spacing: 0.2px;
          margin-left: 16px;
        }

        &.active {
          .circle {
            background-color: $acian-2;
            color: $white;
            border-color: $acian-2;
          }

          .text {
            color: $gray-1;
          }
        }
      }
    }
  }

  .wrapper {
    width: 100%;
    padding: 48px 0 25%;

    @media (max-width: 767px) {
      padding-top: 0;
      padding-bottom: 35%;
    }

    .back {
      display: flex;
      align-items: center;
      font-size: 12px;

      @media (max-width: 767px) {
        padding-block: 12px;
      }

      a {
        display: flex;
        align-items: center;
        color: $gray-3;
        text-decoration: none;
        letter-spacing: 0.6px;

        img {
          margin-right: 16px;
          vertical-align: middle;
        }

        span {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }

      .step-line {
        display: none;

        @media (max-width: 767px) {
          display: flex;
          width: 100%;
          align-items: center;
        }

        p {
          font-size: 10px;
          font-weight: 700;
          color: $gray-2;
          margin: 0;
          letter-spacing: 0.8px;
          flex-shrink: 0;
        }

        .bar {
          background-color: $acian-2;
          width: 100%;
          height: 6px;
          border-radius: 20px;
          margin-left: 16px;
        }
      }
    }

    h1 {
      font-size: 40px;
      color: $gray-1;
      margin: 24px 0 8px;

      @media (max-width: 600px) {
        margin-top: 0;
      }
    }

    .info {
      font-family: $font-roboto;
      font-size: 16px;
      color: $gray-2;
      line-height: 28px;
      margin: 0;
    }

    .card-data-box {
      @media (max-width: 600px) {
        background: $gray-7;
        padding-top: 40px;
        padding-inline: 32px;
        margin-inline: -32px;
      }
    }

    .card-data {
      display: flex;
      justify-content: space-between;
      max-width: 704px;
      width: 100%;
      margin: 10px 0 55px;

      @media (max-width: 600px) {
        max-width: 100%;
        margin-bottom: 0;
      }

      &-information {
        max-width: 384px;
        width: 100%;
        padding-bottom: 43px;
        border-bottom: 1px solid $gray-5;
        margin-right: 10%;

        @media (max-width: 600px) {
          max-width: 100%;
          padding-bottom: 0;
          border-bottom: 0;
          margin-right: 0;
        }

        .car-info {
          display: flex;
          justify-content: space-between;
          height: 172px;
          border: 3px solid $gray-6;
          border-radius: 12px;
          padding-left: 32px;
          padding-right: 20px;
          margin: 20px 0 55px;

          @media (max-width: 600px) {
            background-color: $white;
            border-color: $white;
            box-shadow: 0 0 10px 0 rgba($gray-3, 0.12%);
          }

          .plate-brand {
            max-width: 192px;
            width: 100%;
            display: flex;
            align-items: center;

            .plate {
              font-family: $font-roboto;
              font-size: 12px;
              line-height: 20px;
              color: $gray-3;
              text-transform: uppercase;
              letter-spacing: 0.2px;
              margin: 0;
            }

            .brand {
              font-size: 20px;
              font-weight: 400;
              line-height: 28px;
              color: $gray-1;
              margin: 0;
            }
          }

          picture {
            display: flex;
            align-items: flex-end;
          }
        }
      }

      &-amount {
        max-width: 224px;
        width: 100%;

        @media (max-width: 600px) {
          background: $white;
          position: fixed;
          left: 0;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 100%;
          width: 100%;
          padding: 14px 32px;
          box-shadow: 0 1px 4px 0 rgba($gray-3, 0.6%),
            0 8px 30px 0 rgba(#142b7f, 0.1%);
          z-index: 1;
        }

        .text-mount {
          font-size: 12px;
          font-weight: bold;
          color: $gray-1;
          line-height: 16px;
          letter-spacing: 0.6px;
          margin: 0;

          @media (max-width: 600px) {
            display: none;
          }
        }

        .price {
          font-size: 28px;
          color: $gray-1;
          line-height: 36px;
          letter-spacing: -0.2px;
          padding-bottom: 20px;
          border-bottom: 1px solid $gray-5;
          margin: 10px 0 24px;

          @media (max-width: 600px) {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.2px;
            padding: 0;
            border: 0;
            margin: 0;
          }

          span {
            font-family: $font-roboto;
            display: block;
            font-size: 12px;
            font-weight: 400;
            color: $gray-2;
            line-height: 20px;
            letter-spacing: 0.2px;

            @media (max-width: 600px) {
              font-family: $font-roboto;
              font-size: 10px;
              font-weight: 700;
              color: $gray-1;
              line-height: 16px;
              text-transform: uppercase;
              letter-spacing: 0.8px;
            }
          }
        }

        .text-includes {
          font-size: 16px;
          color: $gray-1;
          line-height: 24px;
          letter-spacing: 0.2px;
          margin: 0 0 12px;

          @media (max-width: 600px) {
            display: none;
          }
        }

        ul {
          padding-left: 20px;
          margin: 0;

          @media (max-width: 600px) {
            display: none;
          }

          li {
            list-style-image: url('../images/icons/check--green.svg');
            font-size: 14px;
            color: $gray-2;
            line-height: 24px;
            margin-bottom: 8px;
          }
        }

        .btn {
          width: 100%;
          margin-top: 24px;

          @media (max-width: 600px) {
            max-width: 168px;
            font-size: 12px;
            padding-block: 16px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
