/*
LATO:
light 300
Regular 400
bold 700
black 900
*/

/*
ROBOTO:
Light 300
Regular 400
Medium 500
Bold 700
Black 900
*/

$font-roboto: 'Roboto', sans-serif;

$white: #fff;
$black: #000;

$gray-1: #494f66;
$gray-2: #676f8f;
$gray-3: #a3abcc;
$gray-4: #c5cbe0;
$gray-5: #e4e8f7;
$gray-6: #f0f2fa;
$gray-7: #f7f8fc;

$acian-1: #939dff;
$acian-2: #6f7dff;

$red-1: #ef3340;
$red-3: #fc606b;

$green-2: #43b748;

$c-1: #e1e4f4;
$c-2: #57617f;
$c-3: #2b2e3a;

$c-4: #ecf0ff;

$t-1: all 0.3s ease-out;
